<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tiketti</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <hr />
    @*Tarkistetaan onko kirjautunut*@
    @{
        if (Session["Sahkoposti"] == null)
        {
            Html.RenderPartial("_NavbarLoggedOut");
        }
        else
        {
            switch ((int)Session["Taso"])  //Homecontrollissa haettiin tasot tietokannasta ja tässä käytetään
            {
                case 1:
                    Html.RenderPartial("_NavbarLogged1");
                    break;
                case 2:
                    Html.RenderPartial("_NavbarLogged2");
                    break;
                case 3:
                    Html.RenderPartial("_NavbarLogged3");
                    break;
                default:
                    Html.RenderPartial("_NavbarLoggedOut");
                    break;
            }
        }
    }


    @*Renderöinti, tässä näkyy sivut*@
<div class="container-fluid">
    @RenderBody()

    <hr />
    @*<footer class="oma-footer">*@
    @using System.Globalization

    @*Sivun alaosassa näkyvä sähköposti ja tieto että olet/et ole kirjautunut*@
    @{
        string LoggedStatus = "";
        if (Session["Sahkoposti"] == null)
        {
            LoggedStatus = "et ole kirjautunut järjestelmään";
        }
        else
        {
            LoggedStatus = "olet kirjautunut sähköpostilla " + Session["Sahkoposti"];
        }
    }
    @*Alaosa ja himmennys*@
    <div class="opacity-50">
        <p>&copy; Tiketti-tietokanta, @LoggedStatus, tänään on @DateTime.Today.ToString("D", CultureInfo.CreateSpecificCulture("fi-FI"))</p>
        @*</footer>*@
    </div>
</div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
