<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/chart")
</head>
<body>
    @{
        if (Session["Sahkoposti"] == null)
        {
            Html.RenderPartial("_NavbarLoggedOut");
        }
        else
        {
            Html.RenderPartial("_NavbarLoggedIn");
        }
    }



    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer class="oma-footer">
            @using System.Globalization
            @{
                string LoggedStatus = "";
                if (Session["Sahkoposti"] == null)
                {
                    LoggedStatus = "et ole kirjautunut järjestelmään";
                }
                else
                {
                    LoggedStatus = "olet kirjautunut käyttäjänä " + Session["Sahkoposti"];
                }
            }
            <p>&copy; Tiketti-tietokanta, @LoggedStatus, tänään on @DateTime.Today.ToString("D", CultureInfo.CreateSpecificCulture("fi-FI"))</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstraplux")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
