@model IEnumerable<TikettiDB.Models.Asiakastiedot>

@{
    ViewBag.Title = "Asiakastiedot";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


@section scripts {
    <script type="text/javascript">
        $(function () {
            $(".uusiAsiakastiedotCreate").click(function () {
                console.log("Luot uudet asiakastiedot");
                var url = "/Asiakastiedot/_ModalCreate";
                console.log(url);

                $("#asiakastiedotCreate").append("Avataan ikkunaa...");

                var $detailDivCreate = $("#asiakastiedotCreate");
                $.get(url, function (data) {
                    $detailDivCreate.replaceWith(data);
                    $('#uudetAsiakastiedotCreate').modal('show');
                });
            });
        });

        $(function () {
            $(".haeAsiakasID").click(function () {
                let atId = $(this).data("atid");
                console.log("Klikkasit poistettavaa tilausnumeroa: " + atId);
                var url = "/Asiakastiedot/_ModalDelete/?id=" + atId;
                console.log(url);

                $("#orderDelete").append(" <b>Avataan tilauksen " + atId + " poistoikkuna...</b>");

                var $detailDivDelete = $("#ATdelete");
                $.get(url, function (data) {
                    $detailDivDelete.replaceWith(data);
                    $('#ModalATDelete').modal('show');
                });
            });
        });
    </script>
}



<h2>Asiakastiedot</h2>
<div id="asiakastiedotCreate"></div>
<a href="#" id="asiakastiedotCreate" class="uusiAsiakastiedotCreate">
    <h2><i class="fas fa-plus-circle custom-color"></i></h2></a>


    <div id="ATdelete"></div>
    <table class="table table-hover">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Etunimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sukunimi)
            </th>
            <th>
                Puhelinnumero
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sijainti.Osoite)
            </th>
            <th>
                Postinumero
            </th>
            <th>
                Postitoimipaikka
            </th>
            <th>
                Sähköposti
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kirjautuminen.Salasana)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Etunimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sukunimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puhelinnro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sijainti.Osoite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sijainti.Postinro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Postinumero.Postitmp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kirjautuminen.Sahkoposti)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kirjautuminen.Salasana)
                </td>
                <td>
                    <button class="btn btn-danger haeAsiakasID fas fa-trash-alt" data-atid="@item.AsiakasID" data-toggle="modal" data-target="#modalDelete">
                    </button>
                </td>
            </tr>
        }

    </table>
