@model TikettiDB.Models.Tikettitiedot
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


@{
    ViewBag.Title = "Delete";
}

<h2>Poista tiketti</h2>

<h3>Haluatko varmasti poistaa tiketin? Poistoa ei voi perua.</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PVM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PVM)
        </dd>

        <dt>
            Tiketin numero
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TikettiID)
        </dd>

        <dt>
            Ongelman kuvaus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ongelman_kuvaus)
        </dd>

        <dt>
            Asiakkaan nimi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakastiedot.Etunimi) @Html.DisplayFor(model => model.Asiakastiedot.Sukunimi)
        </dd>

        <dt>
            It-tukihenkilön nimi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IT_tukihenkilot.Etunimi) @Html.DisplayFor(model => model.IT_tukihenkilot.Sukunimi)
        </dd>

        <dt>
            Laitteen nimi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaitteenTyyppi.Laitteen_nimi)
        </dd>

        <dt>
            Ratkaisun kuvaus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatkaisunKuvaus)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <button type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Haluatko varmasti poistaa tiketin?');"><i class="fas fa-trash-alt"></i></button>

        <a href="@Url.Action("Tiketti3", "Tikettitiedot")" class="btn btn-primary"><i class="fas fa-times"></i></a>

    }
</div>
