@model TikettiDB.Models.IT_tukihenkilot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IT_tukihenkilot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sukunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puhelinnro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelinnro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kirjautuminen.Salasana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kirjautuminen.Salasana)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.itHenkiloID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
